@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Univers 55 Roman";
    src: url("/fonts/univers-55-roman.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "ShareText";
    src: url("/fonts/univers-59-ultra-condensed.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Univers 59 Ultra Condensed";
    src: url("/fonts/univers-59-ultra-condensed.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Univers Bold";
    src: url("/fonts/univers-bold.ttf");
    font-weight: 400;
    font-style: normal;
}

html {
    background: url('/images/bgcomp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

body {
    background: rgba(0,0,0,.7);
    /* overflow-x: hidden; */
}

.content-wrapper {
    min-height: calc(100vh - 45px);
}

.bracket-container {
    /* min-width: 1400px; */
    /* padding: 0px 16px; */
}

/* html, body {
    min-width: 1400px;
} */

svg > circle {
    fill: none !important;
}

.correct {
}

.correct > .bg-ip-gray-transparent {
    opacity: 0.35;
}

.correct > .bg-ip-blue {
    background: #319fff;
    box-shadow: 0px 0px 20px #319fff;
    border: 1px solid #319fff;
}

.incorrect {
    opacity: 0.35;
}
.incorrect > .bg-ip-gray-transparent {
    /* box-shadow: 0px 0px 20px red; */
    /* background: green; */
}

.incorrect > .bg-ip-blue {
    background: #de2021;
    box-shadow: 0px 0px 10px #de2021;
    border: 1px solid #de2021;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}